<div id="samplemodal" class="foodmodal" style="display: none;">
   <div class="flex-row">
      <img class="food-img-modal" src="" alt="">
      <div>
         <p class="name">Nem rán Hà Nội</p>
         <p class="cost">đ 99.000</p>
      </div>
   </div>
   <div class="order-modal">
      <button class="btnhidden minus-food"><i class="fa-solid fa-square-minus fa-2xl"></i></button>
      <p class="ordernum">0</p>
      <button class="btnhidden plus-food"><i class="fa-solid fa-square-plus fa-2xl cam"></i></button>
   </div>
</div>