<div id="<%= foodItem.id %>" class="foodorder">
   <img class="food-img" src="/images/foods/<%= foodItem.images[0].url %>">
   <div class="p2">
      <div class="foodmenu-info">
         <p class="name">
            <%= foodItem.name %>
         </p>
         <p class="cost">
            đ <%= foodItem.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %>
         </p>
      </div>
      <div class="order">
         <button class="btnhidden minus-food" style="display: none;"><i
               class="fa-solid fa-square-minus fa-2xl"></i></button>
         <p class="ordernum" style="display: none;">0</p>
         <button class="btnhidden plus-food"><i class="fa-solid fa-square-plus fa-2xl cam"></i></button>
      </div>
   </div>
</div>