<div id="end">
    <h5>Copyright c 2022 | Theme Designed by Tan Le</h5>
    <div>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
</div>