<footer id="footer">
    <div class="branch">
        <h2>Các chi nhánh</h2>
        <h5><b>Cơ sở 1: </b> 30/3A Ngô Thời Nhiệm, Phường Võ Thị Sáu, Quận 3, TPHCM</h5>
        <h5><b>Cơ sở 2: </b>794 Sư Vạn Hạnh, Phường 12, Quận 10, TPHCM </h5>
        <h5><b>Cơ sở 3: </b> 16 Kỳ Đồng, Phường 9, Quận 3, TPHCM </h5>
        <h5><b>Cơ sở 4: </b>35 Trường Sơn, Phường 4, Quận Tân Bình, TPHCM </h5>
    </div>
    <div class="contact">
        <h2>Liên lạc</h2>
        <div>
            <h4>Điện thoại</h4>
            <div>
                <h5>0898.89.39.59</h5>
                <h5>0705.85.68.68 </h5>
                <h5>0773.86.68.68</h5>
            </div>
        </div>
        <div>
            <h4>Email</h4>
            <h5>ccdv@gmail.com</h5>
        </div>
    </div>
    <div class="subcribe">
        <h2>
            Đăng ký
        </h2>
        <input type="text" placeholder="Nhập địa chỉ email">
        <button>Đăng ký</button>
    </div>

</footer>