<header id="header">
    <a href="/">Trang chủ</a>
    <a href="reservation">Đặt bàn</a>
    <a href="#">Thực đơn</a>
    <a href="#">Giới thiệu</a>
    <a href="#">Ưu đãi</a>
    <a href="#">Phản hồi</a>
    <a href="#">Liên hệ</a>
</header>