<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%if (page=="homepage"){%><title>Chả cá đế vương </title><% } %> 
    <%if (page=="homepage-reservation"){%><title>Đặt bàn - Chả cá đế vương </title><% } %> 
    <link rel="stylesheet" href="css/<%=page%>.css">
    <link rel="stylesheet" href="css/homepage-mutual.css">
    <link rel="stylesheet" href="css/modal-make-booking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />