* {
    padding: 0px;
    margin: 0px;
}


.div {
    display: flex;
    flex-direction: column;
    max-width: 837px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
    padding-right: 48px;
    padding-bottom: 30px;
    padding-left: 48px;
    background-color: rgba(255, 255, 255, 1);
}

.div-2 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 741px;
    align-items: flex-start;
    padding-bottom: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
}

.div-3 {
    max-width: 84px;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.div-4 {
    max-width: 125px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.div-5 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 741px;
    margin-top: 19px;
}

.div-6 {
    display: flex;
}

@media (max-width: 999px) {
    .div-6 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.8% - 10px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column {
        width: 100%;
    }
}

.div-7 {
    display: flex;
    flex-direction: column;
    max-width: 207px;
    justify-content: flex-start;
    align-items: flex-start;
}

.div-8 {
    max-width: 207px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.div-9 {
    max-width: 207px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.div-10 {
    max-width: 207px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.8% - 10px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-2 {
        width: 100%;
    }
}

.div-11 {
    display: flex;
    flex-direction: column;
    max-width: 207px;
    justify-content: flex-start;
    align-items: flex-start;
}

.div-12 {
    max-width: 207px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.div-13 {
    max-width: 207px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.div-14 {
    max-width: 207px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.div-15 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 741px;
    align-items: flex-start;
    margin-top: 19px;
}

.div-16 {
    max-width: 210px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.div-17 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
    align-self: stretch;
    width: 741px;
    align-items: flex-start;
    margin-top: 9px;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
}

.div-18 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-19 {
    display: flex;
}

@media (max-width: 999px) {
    .div-19 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-3 {
        width: 100%;
    }
}

.div-20 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-4 {
        width: 100%;
    }
}

.div-21 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-5 {
        width: 100%;
    }
}

.div-22 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-6 {
        width: 100%;
    }
}

.div-23 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-7 {
        width: 100%;
    }
}

.div-24 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-8 {
        width: 100%;
    }
}

.div-25 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-26 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-27 {
    display: flex;
}

@media (max-width: 999px) {
    .div-27 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-9 {
        width: 100%;
    }
}

.div-28 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-10 {
        width: 100%;
    }
}

.div-29 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-11 {
        width: 100%;
    }
}

.div-30 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-12 {
        width: 100%;
    }
}

.div-31 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-13 {
        width: 100%;
    }
}

.div-32 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-14 {
        width: 100%;
    }
}

.div-33 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-34 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-35 {
    display: flex;
}

@media (max-width: 999px) {
    .div-35 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-15 {
        width: 100%;
    }
}

.div-36 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-16 {
        width: 100%;
    }
}

.div-37 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-17 {
        width: 100%;
    }
}

.div-38 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-18 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-18 {
        width: 100%;
    }
}

.div-39 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-19 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-19 {
        width: 100%;
    }
}

.div-40 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-20 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-20 {
        width: 100%;
    }
}

.div-41 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-42 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-43 {
    display: flex;
}

@media (max-width: 999px) {
    .div-43 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-21 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-21 {
        width: 100%;
    }
}

.div-44 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-22 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-22 {
        width: 100%;
    }
}

.div-45 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-23 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-23 {
        width: 100%;
    }
}

.div-46 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-24 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-24 {
        width: 100%;
    }
}

.div-47 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-25 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-25 {
        width: 100%;
    }
}

.div-48 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-26 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-26 {
        width: 100%;
    }
}

.div-49 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-50 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-51 {
    display: flex;
}

@media (max-width: 999px) {
    .div-51 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-27 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-27 {
        width: 100%;
    }
}

.div-52 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-28 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-28 {
        width: 100%;
    }
}

.div-53 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-29 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-29 {
        width: 100%;
    }
}

.div-54 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-30 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-30 {
        width: 100%;
    }
}

.div-55 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-31 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-31 {
        width: 100%;
    }
}

.div-56 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-32 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-32 {
        width: 100%;
    }
}

.div-57 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-58 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-59 {
    display: flex;
}

@media (max-width: 999px) {
    .div-59 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-33 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-33 {
        width: 100%;
    }
}

.div-60 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-34 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-34 {
        width: 100%;
    }
}

.div-61 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-35 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-35 {
        width: 100%;
    }
}

.div-62 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-36 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-36 {
        width: 100%;
    }
}

.div-63 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-37 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-37 {
        width: 100%;
    }
}

.div-64 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-38 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-38 {
        width: 100%;
    }
}

.div-65 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-66 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-67 {
    display: flex;
}

@media (max-width: 999px) {
    .div-67 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-39 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-39 {
        width: 100%;
    }
}

.div-68 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-40 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-40 {
        width: 100%;
    }
}

.div-69 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-41 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-41 {
        width: 100%;
    }
}

.div-70 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-42 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-42 {
        width: 100%;
    }
}

.div-71 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-43 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-43 {
        width: 100%;
    }
}

.div-72 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-44 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-44 {
        width: 100%;
    }
}

.div-73 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-74 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-75 {
    display: flex;
}

@media (max-width: 999px) {
    .div-75 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-45 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-45 {
        width: 100%;
    }
}

.div-76 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-46 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-46 {
        width: 100%;
    }
}

.div-77 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-47 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-47 {
        width: 100%;
    }
}

.div-78 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-48 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-48 {
        width: 100%;
    }
}

.div-79 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-49 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-49 {
        width: 100%;
    }
}

.div-80 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-50 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-50 {
        width: 100%;
    }
}

.div-81 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-82 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-83 {
    display: flex;
}

@media (max-width: 999px) {
    .div-83 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-51 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-51 {
        width: 100%;
    }
}

.div-84 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-52 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-52 {
        width: 100%;
    }
}

.div-85 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-53 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-53 {
        width: 100%;
    }
}

.div-86 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-54 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-54 {
        width: 100%;
    }
}

.div-87 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-55 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-55 {
        width: 100%;
    }
}

.div-88 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-56 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-56 {
        width: 100%;
    }
}

.div-89 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-90 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-91 {
    display: flex;
}

@media (max-width: 999px) {
    .div-91 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-57 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-57 {
        width: 100%;
    }
}

.div-92 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-58 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-58 {
        width: 100%;
    }
}

.div-93 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-59 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-59 {
        width: 100%;
    }
}

.div-94 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-60 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-60 {
        width: 100%;
    }
}

.div-95 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-61 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-61 {
        width: 100%;
    }
}

.div-96 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-62 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-62 {
        width: 100%;
    }
}

.div-97 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-98 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 721px;
    background-color: rgba(255, 255, 255, 1);
}

.div-99 {
    display: flex;
}

@media (max-width: 999px) {
    .div-99 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column-63 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(6.37% - 16.666666666666668px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column-63 {
        width: 100%;
    }
}

.div-100 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-64 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(30.19% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-64 {
        width: 100%;
    }
}

.div-101 {
    display: flex;
    flex-direction: row;
    max-width: 198px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.column-65 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(11.36% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-65 {
        width: 100%;
    }
}

.div-102 {
    display: flex;
    flex-direction: row;
    max-width: 82px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-66 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(15.24% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-66 {
        width: 100%;
    }
}

.div-103 {
    display: flex;
    flex-direction: row;
    max-width: 110px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-67 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(23.82% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-67 {
        width: 100%;
    }
}

.div-104 {
    display: flex;
    flex-direction: row;
    max-width: 172px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column-68 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.88% - 16.666666666666668px);
    margin-left: 20px;
}

@media (max-width: 999px) {
    .column-68 {
        width: 100%;
    }
}

.div-105 {
    display: flex;
    flex-direction: row;
    max-width: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.div-106 {
    display: flex;
    flex-direction: row;
    max-width: 96px;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    background-color: rgba(0, 222, 163, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}