<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./detail-table.css">
</head>

<body>
    <div class="div">
        <div class="div-2">
            <div class="div-3">Bàn 1</div>
            <div class="div-4">Loại bàn: 4 chỗ</div>
        </div>
        <div class="div-5">
            <div class="builder-columns div-6">
                <div class="builder-column column">
                    <div class="div-7">
                        <div class="div-8">Khách hàng hiện tại:</div>
                        <div class="div-9">Vào lúc:</div>
                        <div class="div-10">Dự kiến rời đi:</div>
                    </div>
                </div>
                <div class="builder-column column-2">
                    <div class="div-11">
                        <div class="div-12">Lê Thanh Tân</div>
                        <div class="div-13">7h30</div>
                        <div class="div-14">8h30</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-15">
            <div class="div-16">Các món gọi:</div>
            <div class="div-17">
                <div class="div-18">
                    <div class="builder-columns div-19">
                        <div class="builder-column column-3">
                            <div class="div-20">Stt</div>
                        </div>
                        <div class="builder-column column-4">
                            <div class="div-21">Tên món</div>
                        </div>
                        <div class="builder-column column-5">
                            <div class="div-22">Số lượng</div>
                        </div>
                        <div class="builder-column column-6">
                            <div class="div-23">Loại</div>
                        </div>
                        <div class="builder-column column-7">
                            <div class="div-24">Ghi chú</div>
                        </div>
                        <div class="builder-column column-8">
                            <div class="div-25">Ghi chú</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-106">Thanh toán</div>
    </div>
</body>

</html>