<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="./modal-make-booking.css">
    <link rel="stylesheet" href="css/homepage-mutual.css">
    <link rel="stylesheet" href="css/homepage-reservation.css">
</head>

<body>
    <div class="modal-background">
        <form class="modal-box" method="post">
            <h2 class="modal-title">
                THÔNG TIN ĐẶT BÀN
                </h1>
                <div class="modal-parallel-detail">
                    <div class="modal-detail">
                        <label for="name">Họ và tên:</label>
                        <input type="text" name="name" value="Lê Thanh Tân">
                    </div>
                    <div class="modal-detail">
                        <label for="phone-number">Số điện thoại:</label>
                        <input type="text" name="phone-number" value="0337229803">
                    </div>
                </div>
                <div class="modal-detail">
                    <label for="detail">Giờ đặt:</label>
                    <div class="detail-input">
                        <input class="date input-non-update" type="date" name="" id="" value="2022-11-03" readonly>
                        <input type="time" list="reservation-time-option" name="reservationTime" />
                        <datalist id="reservation-time-option">
                            <option value="07:00"></option>
                            <option value="07:30"></option>
                            <option value="08:00"></option>
                            <option value="08:30"></option>
                            <option value="09:00"></option>
                        </datalist>
                        <input class="number-person input-non-update" type="text" list="number-person-option" name="numberOfPerson" value="2" readonly/>
                        <datalist id="number-person-option">
                            <option value="2">2 người</option>
                            <option value="4">4 người</option>
                            <option value="8">8 người</option>
                            <option value="10">10 người</option>
                        </datalist>
                    </div>
                    <p>Giờ gợi ý<p>
                </div>
                <div class="modal-detail">
                    <label for="note">Ghi chú thêm:</label>
                    <textarea id="text" class="input-update reservation-note" name="note" onfocus="this.placeholder=''" onblur="this.placeholder='Bạn có thể nhập ghi chú ...'" placeholder="Bạn có thể nhập ghi chú ..."></textarea>
                </div>
                <div class="modal-button">
                    <button class="modal-yes-button">
                        Xác nhận đặt bàn
                    </button>
                    <button class="modal-no-button">
                        Hủy
                    </button>
                </div>
        </div>
    </div>
</body>

</html>