#main {
    width: 100%;
    height: 120%;
    background-image: url(../images/homepage/homepage-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background-layer {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

#main .main-content {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 1;
    color: #fff;
}

.main-content h2 {
    margin-bottom: 20px;
}

#main .main-content-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 50px;
    width: 100%;
}

.main-content-form button {
    width: 150px;
    background: #AE0808;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

.main-content-form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    background: #FFFFFF;
    border-radius: 5px;
    width: 600px;
}

.main-content-form input{
    height: 80%;
    border: none;
    border-right: solid 2px;
    padding: 0px 20px;
    width: 30%;
    font-size: 16px;
}

.main-content-form .date {
    flex-grow: 1.5;
}

.number-person {
    border: none !important;
}

/* .main-content-form>div:nth-child(1) {
    width: 50px;
} */