<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head',{page: 'homepage'}) %> 
</head>

<body>
    <!-- header  -->
    <%- include('./partials/header')%> 
    <div id="main">
        <div class="main-content-background">
            <div class="main-content">
                <p class="special-text"> Welcome to </p>
                <h1> Chả cá đế vương </h1>
                <div class="main-time-open">
                    <h3>Giờ mở cửa</h3>
                    <p>Sáng: 10H30 - 14H00</p>
                    <p>Tối: 17H00 - 22H00</p>
                </div>
                <a href="reservation" class="main-reservation-button"> Đặt bàn ngay </a>
            </div>
        </div>
    </div>
    <div id="information">
        <img src="images/homepage/intro-image.png" alt="">
        <div class="infor-text right">
            <h1 class="special-text">Giới thiệu</h1>
            <h2>Về chúng tôi</h2>
            <p> Đặc sản Hà Nội được biết đến với những món ăn đặc trưng như: bún chả, bánh tôm hồ tây, bún đậu mắm tôm,
                bún ốc, bún thang…v..v từ lâu đã làm say mê không chỉ thực khách trong nước và cả khách quốc tế. Một
                trong những món ăn phải thưởng thức khi đến với thủ đô Hà Nội đó chính là món chả cá. </p>
            <p> Ngay giữa lòng đô thị Sài Gòn sầm uất, Chả Cá Đế Vương tự hào là nhà hàng chả cá ĐẦU TIÊN mang món chả
                cá trứ danh với đầy đủ những món như: chả cá, bao tử cá, lẩu cá và cháo cá… vào trong thực đơn của mình,
                kết hợp với một không gian đậm chất Hà Nội, bày trí sang trọng, bắt mắt và ấm cúng, sẽ góp phần cộng
                hưởng cho hương vị tuyệt vời của món ăn được thực khách khắp nơi trên thế giới yêu mến. </p>
            <p> Mỗi suất của Chả Cá Đế Vương (129k với Chả Cá Đế Vương 1) làm từ những con cá lăng tươi ngon nhất, cân
                nặng trên 3kg được ướp từ đầu bếp nổi tiếng có thâm niên trong nghề trên 10 năm. Ngoài ra, những thành
                phần ăn kèm cũng là những nguyên liệu hảo hạng: mắm tôm ngon nhất đến từ Thanh Hoá, không chỉ mang đến
                khẩu vị ngon và vừa miệng và đặc biệt không nặng mùi, lạc đỏ nổi tiếng Nghệ An, to, bùi, giòn và ăn kèm
                cùng các loại rau đặc trưng. </p>
        </div>
    </div>
    <div id="menu">
        <div class="background-layer"></div>
        <h1 class="special-text">Thực đơn</h1>
        <div class="menu-content">
            <img src="images/homepage/menu-item.png" alt="">
            <div>
                <h3>Món bán chạy nhất</h3>
                <div class="menu-item">
                    <p class="menu-item-name"> Chả cá đế vương </p>
                    <p class="menu-item-price"> 139.000 VND </p>
                </div>
                <div class="menu-item">
                    <p class="menu-item-name"> Bao tử cá </p>
                    <p class="menu-item-price"> 179.000 VND </p>
                </div>
                <div class="menu-item">
                    <p class="menu-item-name"> Lẩu cá lăng </p>
                    <p class="menu-item-price"> 439.000 VND </p>
                </div>
                <div class="menu-item">
                    <p class="menu-item-name"> Chảo cá nhỏ </p>
                    <p class="menu-item-price"> 89.000 VND </p>
                </div>
                <div class="menu-item">
                    <p class="menu-item-name"> Chảo cá lớn </p>
                    <p class="menu-item-price"> 159.000 VND </p>
                </div>
            </div>
        </div>
    </div>
    <div id="promotion">
        <h1 class="special-text">Khuyến mãi</h1>
        <h2>Nhà hàng chả cá đế vương</h2>
        <div class="promotion-content">
            <div class="promotion-content-item">
                <img src="images/homepage/pormotion-image1.jpg" alt="">
                <h3> ĂN THẢ GA KHÔNG LO VỀ GIÁ! Nhấc máy gọi ngay - Giao hàng liền tay </h3>
                <p> Nhằm đáp ứng nhu cầu của quý thực khách “ghiền” món chả cá nhưng ngại đi ra ngoài, nhà hàng Chả Cá
                    Đế Vương đang có chương trình khuyến mãi: CHỈ 129k/ 1 SUẤT CHẢ CÁ (đã kèm bún, rau thơm, hành, thì
                    là, đậu phộng và mắm tôm hoặc nước mắm) ĐẶC BIỆT: ... </p>
                <a href="">Xem thêm</a>
            </div>
            <div class="promotion-content-item">
                <img src="images/homepage/pormotion-image1.jpg" alt="">
                <h3> KHAI TRƯƠNG CHI NHÁNH MỚI - KHUYẾN MÃI CỰC KHỦNG !! </h3>
                <p> Hệ thống nhà hàng Chả Cá ĐẾ VƯƠNG mang đến cho bạn món Chả cá trứ danh Hà Thành kết hợp không gian
                    sang trọng mà vẫn đầy ấm cúng, tăng thêm hương vị khi bạn thưởng thức.Địa chỉ mới ở đâu?Nhà hàng Chả
                    Cá ĐẾ VƯƠNG ở số 592 Phan ... </p>
                <a href="">Xem thêm</a>
            </div>
            <div class="promotion-content-item">
                <img src="images/homepage/pormotion-image1.jpg" alt="">
                <h3> CÓ GÌ MỚI Ở CƠ SỞ MỚI KHAI TRƯƠNG TẠI QUẬN TÂN BÌNH ? </h3>
                <p> Tiếp nối thành công của 3 cơ sở Chả cá đế vương tại quận 10, quận 3 và gần nhất là quận Tân Bình, hệ
                    thống Chả Cá Đế Vương tưng bừng mở bán cơ sở 4 tại địa chỉ 529 Phan Văn Trị, phường 5, Quận Gò Vấp.
                    Đây là trục đường ăn uống sầm uất, với nhiều thư ... </p>
                <a href="">Xem thêm</a>
            </div>
        </div>
    </div>
    <div id="response">
        <div class="background-layer"></div>
        <h1 class="special-text">Phản hồi từ khách hành</h1>
        <div class="hr"></div>
        <h5> Nhà hàng chúng tối rất hân hạnh khi được phục vụ quý khách. Mọi ý kiến đóng góp của mọi người đều sẽ được
            ghi nhận để nhà hàng chúng tối thay đổi và ngày càng phát triễn </h5>
        <div class="response-content">
            <div class="response-content-item">
                <img src="images/homepage/avt1.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p> Địa điểm dễ kiếm, không gian đẹp và nhân viên phục vụ nhiệt tình, dễ thương, món ăn ngon. </p>
                <h4> Trung Hiếu Đặng </h4>
            </div>
            <div class="response-content-item">
                <img src="images/homepage/avt2.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p> Nhà hàng ăn ngon lắm, nhân viên phục vụ thì nhiệt tình, dễ thương và lên món ăn rất nhanh, view nhìn
                    ngay mặt tiền đường nên dễ thấy, decor rất đẹp. </p>
                <h4> Markky </h4>
            </div>
            <div class="response-content-item">
                <img src="images/homepage/avt3.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <p> Trãi nghiệm Hà Nội thuần chất ở Sài Gòn. Nhà hàng trang trí trang nhã với nhiều bức ảnh đẹp về Hà
                    Nội và bộ bàn ghế cao cấp. Món ăn ngon. </p>
                <h4> Thành Nguyên Bùi </h4>
            </div>
        </div>
    </div>
    <!-- footer  -->
    <%- include('./partials/footer') %> 
    <!-- author  -->
    <%- include('./partials/author') %> 
</body>

</html>