<div id="notify" class="modal-background">
  <div class="modal-box-notify">
    <h1 class="modal-title">
      Bạn đã đặt bàn thành công!
    </h1>
    <button id="close-btn" class="modal-close-button">Đồng ý</button>
  </div>
</div>