:root {
   --cam: #FF8A00;
   --xanh: #47C272;
   --paid: #FF6A5D;
   --unorder: #FB3105;
}

.flex-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flex-justify {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#table-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 16px 17px;
   gap: 40px;
}

#table {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 16px;

   width: 165px;
   height: 44px;
}

/* button */
#buttons {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px 25px;
   gap: 25px;
}

.manage-head {
   width: 100%;
   display: flex;
   align-content: center;
   justify-content: space-between;
}

@media only screen and (max-width: 900px) {
   #buttons {
      flex-direction: column;
      gap: 5px;
   }
}

#buttons button {
   width: 144px;
   height: 40px;

   background: var(--cam);
   box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25), -1px 0px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   border-style: hidden;

   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 40px;
   color: white;
}

#buttons button:hover,
.food {
   cursor: pointer;
}

/* types */
#types {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 8px 10px;
   gap: 75px;

   margin-left: 61px;

   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
}

#types span:hover {
   cursor: pointer;
}

/* flex container */
#foodlist {
   max-height: 50vh;
}

.flex-container {
   padding: 14px 16px 50px 16px;
   margin-left: 17px;
   display: flex;
   flex-direction: row;
   gap: 15px;
   flex-wrap: wrap;
   overflow: auto;
}

/* food */

.food {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 16px 24px;
   margin-top: 22px;
   gap: 70px;

   height: 76px;

   background: #FFFFFF;
   box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
   border-radius: 16px;

}

.food-info {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 16px;

   width: 165px;
   height: 44px;
}

.food-name {
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
}

.foodState {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 10px;
}

.done {
   color: var(--xanh);
}

/* pop up */

.popup {
   position: relative;
}

/* The actual popup */
.popup .popuptext {
   display: none;

   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: -50%;
   left: 50%;

   background: #FFFFFF;
   color: #1C1243;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
   border-radius: 12px;
}

.popup .popuptext button {
   font-size: 16px;
   padding: 5px;
   margin: 5px;
}

.cancle {
   color: #FF6A5D;
}

/* Toggle this class - hide and show the popup */
.popup .show {
   display: block;
   -webkit-animation: fadeIn 0.5s;
   animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

/* bill container */

#billlist {
   border-collapse: collapse;
   width: 100%;
   border: 1px solid #ddd;
}

th,
td {
   text-align: center;
   padding: 10px;
}

#billlist tr:first-child {
   background-color: #F7F8FA;
   border: 1px solid #EFF0F4;
}

.container {
   width: 100%;
   max-height: 500px;
   padding: 14px 39px 14px 39px;
   margin-left: 17px;

   overflow-y: auto;
}

.top-border {
   border-top: 1px solid #ddd;
}

.padtop-0 td {
   padding-top: 0;
}