<div
  style="display: none"
  class="table-detail-background"
  id="table-detail-<%= table.id %>"
>
  <div class="table-detail">
    <div class="close-table-detail" id = "close-table-detail-<%= table.id %>">X</div>
    <div class="table-detail-heading">
      <div class="table-detail-left-heading">
        <h1>Bàn <%= table.tableNumber %></h1>
        <br />
        <p>
          <span class="table-detail-numOfTableSeat">Loại bàn: </span><%=
          table.numberOfSeats %> chỗ
        </p>
      </div>
      <div class="table-detail-right-heading">
        <span class="table-detail-state-free">Bàn trống</span>
      </div>
      <div></div>
    </div>
    <hr />
    <div class="table-detail-main-body">
      <div class="table-detail-left-main-body">
        <p>
          <span class="table-detail-numOfTableSeat">Khách hàng hiện tại: </span>
        </p>
        <p><span class="table-detail-numOfTableSeat">Vào lúc: </span></p>
        <p>
          <span class="table-detail-numOfTableSeat">Dự kiến rời đi: </span>
        </p>
      </div>
      <div class="table-detail-right-main-body">
        <p>Không có</p>
        <p>Không có</p>
        <p>Không có</p>
      </div>
    </div>
    <br />
    <div class="table-detail-bottom-body">
      <p><span class="table-detail-numOfTableSeat">Các món gọi </span></p>
      <table>
        <tr>
          <th style="width: 7%">STT</th>
          <th style="width: 27%">Tên món</th>
          <th style="width: 13%">Số lượng</th>
          <th style="width: 10%">Loại</th>
          <th style="width: 28%">Ghi chú</th>
          <th style="width: 15%">Trạng thái</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>.</td>
        </tr>
      </table>
    </div>
  </div>
</div>
