<div class="main-table-item unlock" id="<%= table.id %>">
    <div class="main-table-item-left">
        <h2> Bàn <%= table.tableNumber %>
        </h2>
        <img src="/images/tables/<%= table.numberOfSeats %>-seats-table-green.svg" alt="">
    </div>
    <div class="main-table-item-right">
        <h2>Đang trống</h2>
    </div>
</div>