<div class="main-table-item locked" id="<%= table.id %>">
    <div class="main-table-item-left">
        <h2> Bàn <%= table.tableNumber %>
        </h2>
        <img src="/images/tables/<%= table.numberOfSeats %>-seats-table-orange.svg" alt="">
    </div>
    <div class="main-table-item-right">
        <h2> <%= table.reservations[0].customer.firstName %> </h2>
    </div>
</div>