<!-- header -->
<header id="header">
    <div class="header-name">
        <h1> Chả cá đế vương </h1>
    </div>
    <div class="header-title">
        <h3> Hệ thống quản lý </h3>
    </div>
    <div class="header-time">
        <i class="fa-regular fa-clock"></i>
        <p id="clock"></p>
    </div>
    <div class="header-user">
        <i class="fa-regular fa-bell"></i>
        <p> Admin </p>
        <img src="/images/avt-tan.jpg" alt="">
    </div>
</header>